{% extends 'shopsite/base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/categories.css' %}">
</head>

<body>
    <div class="row">
        <div class="col">
            <img class="thumbnail" src="{% static 'images/placeholder_item.png' %}">
            <div class="card">
                <div class="tag">
                    <div class="tag-content">
                        <h5>Item</h5>
                        <p>Price: $20</p>
                    </div>
                    <div class="tag-buttons">
                        <button class="btn btn-outline-secondary">Add to cart</button>
                        <button class="btn btn-outline-secondary">View</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <img class="thumbnail" src="{% static 'images/placeholder_item.png' %}">
            <div class="card">
                <div class="tag">
                    <div class="tag-content">
                        <h5>Item</h5>
                        <p>Price: $20</p>
                    </div>
                    <div class="tag-buttons">
                        <button class="btn btn-outline-secondary">Add to cart</button>
                        <button class="btn btn-outline-secondary">View</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <img class="thumbnail" src="{% static 'images/placeholder_item.png' %}">
            <div class="card">
                <div class="tag">
                    <div class="tag-content">
                        <h5>Item</h5>
                        <p>Price: $20</p>
                    </div>
                    <div class="tag-buttons">
                        <button class="btn btn-outline-secondary">Add to cart</button>
                        <button class="btn btn-outline-secondary">View</button>
                    </div>
                </div>
            </div>
        </div>
</body>
{% endblock %}