{% extends 'shopsite/base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/categories.css' %}">
</head>

<body>
    {% for product in products %}
        {% if forloop.counter0|divisibleby:3 %}
            <div class="row">
        {% endif %}
        <div class="col">
            <img class="thumbnail" src="{{product.image.url}}">
            <div class="card">
                <div class="tag">
                    <div class="tag-content">
                        <h5>{{ product.name }}</h5>
                        <p>${{ product.price|floatformat:2 }}</p>
                    </div>
                    <div class="tag-buttons">
                        <button data-product={{product.id}} data-action=add class="btn btn-outline-secondary update-cart">Add to cart</button>
                        <button class="btn btn-outline-secondary">View</button>
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 or forloop.last %}
            </div>
        {% endif %}
    {% endfor %}
</body>


{% endblock %}